extends ../base.pug

block head 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(type="password", name="oldpassword", required, placeholder="Old Password")
        input(type="password", name="newpassword", required, placeholder="New Password") 
        input(type="password", name="checkpassword", required, placeholder="Check Password")
        input(type="submit", value="Change")